# Define instruments with their strategy-timeframe combinations
[[instruments]]
symbol = "NDX"
name = "NASDAQ 100"
enabled = true

# Data sources for this instrument (multiple sources for fallback)
data_sources = ["yfinance"]

# Strategy-timeframe mappings
[[instruments.strategies]]
name = "strategy_1"
timeframes = ["1D"]
enabled = true
#parameters = { "1D" = { "short_ma_period" = 20, "long_ma_period" = 50 } }

[[instruments]]
symbol = "US500"
name = "SP500"
enabled = true

# Data sources for this instrument (multiple sources for fallback)
data_sources = ["yfinance"]

# Strategy-timeframe mappings
[[instruments.strategies]]
name = "strategy_1"
timeframes = ["4H", "1D"]
enabled = true
#parameters = { "1D" = { "short_ma_period" = 20, "long_ma_period" = 50 } }

[[instruments.strategies.parameters.1D]]
short_ma_period = 50
long_ma_period = 200

[[instruments.strategies.parameters.4H]]
short_ma_period = 20
long_ma_period = 50
